:root{
    --backgroudwhite: #f3f4f5;
    --tipewhite: white;
    --contrario: black;
    --colorletra: #23e9aa;
}

@media screen and (max-width: 1280px) {



    body, html{
        height: 100%;
    }
    .switch {
        left: 40%;
        top: 0.8125rem;
        font-size: 1.0625rem;
        position: relative;
        display: inline-block;
        width: 3.5em;
        height: 2em;
        
       }

    .pie{
        height: 17%;
        width: 100%;
        
    }

    .aparece{
        width: 30%;
        left: 36%;   
        
        
    }

    .tfaq{
        width: 26%;
        left: 38%;  
    }



    .pinicio{
        font-size: 25px;
        padding: 12px;
        top: 5%;
        text-align: left;
        
        
    }
    
    svg{
        width: 100%;
        position: relative;
        top: 67%;
        
    }
    
    img{
        display: none;
    }
    
    .overlay{
        height: 100%;
        width: 100%;
    }
    


    .h1_main{
        display: none;
    }

    .h1_1{
        display:flex;
        text-align: center;
        max-width: 85%;
        max-width: 85%;
        border-right: 0px;
        top: 7%;
        font-size: 370%;
        left: 1%;
    }
    .h1_2{
        display:flex;
        text-align: justify;
        max-width: 85%;
        border-right: 0px;
        left: 1%;
        top: 5%;
    }
    .h1_3{
        display:flex;
        text-align: center;
        left:1%;
        top: 2%;
        max-width: 85%;
    }

    summary{
        height: 90%;
        width: 90%;
        left: 1%;
    }

    button {
        cursor: pointer;
        padding: 15px 25px;
        border: unset;
        border-radius: 15px;
        color: var(--colorletra);
        z-index: 1;
        background: var(--backgroudwhite);
        position: relative;
        font-weight: 1000;
        font-size: 17px;
        -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
        box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
        transition: all 250ms;
        overflow: hidden;
        top: 5%;
        text-align: center;
       }
       
       button::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 0;
        border-radius: 15px;
        background-color: var(--colorletra);
        z-index: -1;
        -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
        box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
        transition: all 250ms
       }
       
       button:hover {
        color: var(--backgroudwhite);
       }
       
       button:hover::before {
        width: 100%;
       }



       
    
}

@media screen and (max-width: 767px) {
    
}

@media screen and (max-width: 600px) {
    
}

@media screen and (max-width: 400px) {
    
}