html{
    scroll-behavior: smooth;
}


.overlay{ /* Fondo de overlay*/
    height: 950px;
    position: relative;
    top: -40px;

    background-image: radial-gradient(circle at 2.8% 32.82%, #68ebb3 0, #4ce7b6 25%, #18e3ba 50%, #00dfbe 75%, #00dbc3 100%);
    border-radius: 0px 0px  0px 0px;
    -webkit-border-radius: 0px 0px  0px 0px;
    -moz-border-radius: 0px 0px  0px 0px;
    -ms-border-radius: 0px 0px  0px 0px;
    -o-border-radius: 0px 0px  0px 0px;
}



.cartas{
    position: relative;
    top: 140px;
    height: 420px;
    right: -60px;
    border-radius: 20px 20px 20px 20px;
    -webkit-border-radius: 20px 20px 20px 20px;
    -moz-border-radius: 20px 20px 20px 20px;
    -ms-border-radius: 20px 20px 20px 20px;
    -o-border-radius: 20px 20px 20px 20px;
    transition: all .2sx;
    -webkit-transition: all .2sx;
    -moz-transition: all .2sx;
    -ms-transition: all .2sx;
    -o-transition: all .2sx;

}

.cartas:hover{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
}

.cartas:not(:hover){
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
}



*::selection{ /* Color cuando marcas algo */
    background-color:#00dbc3;
    color: white;

}


h1{ 
    font-family: 'Fjalla One', sans-serif;
    color: white;
    position: relative;
    top: 130px;
    font-size: 60px;
    display: block;
    white-space: nowrap;
    border-right: 4px solid;
    left: 545px;
    width: 23ch;
    animation: typing 1.5s steps(23), blink .5s infinite step-end alternate;
    -webkit-animation: typing 1.5s steps(23), blink .5s infinite step-end alternate;
    overflow: hidden;
}

@keyframes typing{
    from {width: 0px;}
}

@keyframes blink{
    50% {border-color: transparent}
}

.logo   {
    border-radius: 200px 200px  200px 200px;
    -webkit-border-radius: 200px 200px  200px 200px;
    -moz-border-radius: 200px 200px  200px 200px;
    -ms-border-radius: 200px 200px  200px 200px;
    -o-border-radius: 200px 200px  200px 200px;
    position: absolute;
    top: 20px;
    height: 60px;
    left: 30px;
    z-index: 0;
}


p{
    font-family: 'Fjalla One', sans-serif;
    color: white;
    text-align: center;
    position: relative;
    top: 130px;
    font-size: 30px;
}


body{
    background-color: #f3f4f5;
    margin: 0;
}


.tfaq-back{
    position:relative;
    top: -10px;
    height: 100px;
    background-image: radial-gradient(circle at 2.8% 32.82%, #68ebb3 0, #4ce7b6 25%, #18e3ba 50%, #00dfbe 75%, #00dbc3 100%);
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    width: 200px;
    left: 800px;

}

.aparece{
    position:absolute;
    top: 0px;
    height: 100px;
    background-image: radial-gradient(circle at 2.8% 32.82%, #68ebb3 0, #4ce7b6 25%, #18e3ba 50%, #00dfbe 75%, #00dbc3 100%);
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    width: 200px;
    left: 0px;
}

.aparece:hover{
    width: 113vh;
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
}

.aparece:not(:hover){
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
}

.tfaq{ 
    font-family: 'Fjalla One', sans-serif;
    text-align: center;
    color: white;
    position: relative; 
    font-size: 50px;
    top: 24px;


}

.faq{
    height: 1000px;
    
}




.pie{
    height: 200px;
    background-color: black;
}