:root{
    --backgroudwhite: #f3f4f5;
    --tipewhite: white;
    --contrario: black;
}

*{
    text-align: center;
}

html{
    scroll-behavior: smooth;
    margin: 0%;
    height: 100%;
    max-width: 100%;
    
}

.overlay{
    /*Fondodeoverlay*/height: 59.375rem;
    position: relative;
    top: -2.5rem;
    background-image: linear-gradient(        to bottom right,         #68ebb3 0%, #4ce7b6 25%, #18e3ba 50%, #00dfbe 75%, #00dbc3 100%    );
    background-size: 200% 200%;
    animation: movingGradient 5s linear infinite alternate ;
    -webkit-animation: movingGradient 5s linear infinite alternate ;
    z-index: 0;
}

@keyframes movingGradient {
    from{background-position: 0 0;}
    to{background-position: 100% 100%;}
}


.cartas{
    position: relative;
    top: 95px  ;
    height: 26.25rem;
    right: -3.75rem;
    transition: all .2sx;
    -webkit-transition: all .2sx;
    -moz-transition: all .2sx;
    -ms-transition: all .2sx;
    -o-transition: all .2sx;
    text-align: center;
    border-radius: 80px;
    -webkit-border-radius: 80px;
    -moz-border-radius: 80px;
    -ms-border-radius: 80px;
    -o-border-radius: 80px;
    padding: 70px;
    left: 10px;
    z-index: 100;
}

.cartas:hover{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    border-radius: 80px;
    -webkit-border-radius: 80px;
    -moz-border-radius: 80px;
    -ms-border-radius: 80px;
    -o-border-radius: 80px;
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
}

.cartas:not(:hover){
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
}



*::selection{ /* Color cuando marcas algo */
    background-color:#00dbc3;
    color: white;

}

svg{height: 100%; z-index: -1; position: relative; top: -200px;}


h1{
    font-family: 'Fjalla One', sans-serif;
    color: var(--tipewhite);
    text-align: center;
    position: relative;
    top: 15%;
    font-size: 360%;
    display: block;
    white-space: nowrap;
    border-right: 4px solid;
    text-align: center;
    width: 22ch;
    animation: typing 1.5s steps(22), blink .5s infinite step-end alternate;
    -webkit-animation: typing 1.5s steps(22), blink .5s infinite step-end alternate;
    overflow: hidden;
    max-width: 50%;
    left: 30%;
}

.h1_1{
    display: none;
}

.h1_2{
    display: none;
}

.h1_3{
    display: none;
}

@keyframes typing{
    from {width: 0rem ;}
}

@keyframes blink{
    50% {border-color: transparent}
}


.pinicio{
    font-family: 'Fjalla One', sans-serif;
    color: var(--tipewhite);
    text-align: center;
    position: relative;
    top: 8.125rem;
    font-size: 1.875rem;
}




.path1{
    fill: var(--backgroudwhite);
}


.aparece{
    height: 10%;
    background-image: radial-gradient(circle at 2.8% 32.82%, #68ebb3 0, #4ce7b6 25%, #18e3ba 50%, #00dfbe 75%, #00dbc3 100%);
    width: 10%;
    left: 45.5%;
    position:relative;
    top: 10%;
    border-radius: 0.9375rem; 
    -webkit-border-radius: 0.9375rem;
    -moz-border-radius: 0.9375rem;
    -ms-border-radius: 0.9375rem;
    -o-border-radius: 0.9375rem;

}

.tfaq{ 
    font-family: 'Fjalla One', sans-serif;
    text-align: center;
    color: var(--tipewhite);
    position: relative; 
    font-size: 3.125rem;
    position:relative;
    top: -1.7%;
    height: 6.25rem;
    border-radius: 0.9375rem;
    -webkit-border-radius: 0.9375rem;
    -moz-border-radius: 0.9375rem;
    -ms-border-radius: 0.9375rem;
    -o-border-radius: 0.9375rem;
    width: 12.5rem;
    left: 45.2%;
    cursor: default;


}


.aparece:hover{
    filter: brightness(1.1);
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    -webkit-filter: brightness(1.1);
    
}

.aparece:not(:hover){
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    
}

.boton1{
    display: none;
}


.faq{
    height: 990px;
    z-index: -2;
    
    
} 





button {
    cursor: pointer;
    padding: 15px 25px;
    border: unset;
    border-radius: 15px;
    color: var(--colorletra);
    z-index: 1;
    background: var(--backgroudwhite);
    position: relative;
    font-weight: 1000;
    font-size: 17px;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms;
    overflow: hidden;
    top: -33%;
    text-align: center;
   }
   
   button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 15px;
    background-color: var(--colorletra);
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms
   }
   
   button:hover {
    color: var(--backgroudwhite);
   }
   
   button:hover::before {
    width: 100%;
   }



svg {width: 100%; height: auto; z-index: 1; top: -20%;}

body{
    background-color: var(--backgroudwhite);
    margin: 0;
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
    z-index: -2;
    
}


.pie{
    height: 12.5rem;
    background-image: linear-gradient(        to bottom right,         #68ebb3 0%, #4ce7b6 25%, #18e3ba 50%, #00dfbe 75%, #00dbc3 100%    );
    background-size: 200% 200%;
    animation: movingGradient 5s linear infinite alternate ;
    -webkit-animation: movingGradient 5s linear infinite alternate ;
    border-radius: 0.9375rem 0.9375rem 0rem 0rem;
    -webkit-border-radius: 0.9375rem 0.9375rem 0rem 0rem;
    -moz-border-radius: 0.9375rem 0.9375rem 0rem 0rem;
    -ms-border-radius: 0.9375rem 0.9375rem 0rem 0rem;
    -o-border-radius: 0.9375rem 0.9375rem 0rem 0rem;
}


/* Switch de modo oscuro */
 .switch {
     left: 48%;
     top: 4%;
     font-size: 1.0625rem;
     position: relative;
     display: inline-block;
     width: 3.5em;
     height: 2em;
    }
    
    
    .switch input {
     opacity: 0;
     width: 0;
     height: 0;
    }
    
    
    .slider {
     position: absolute;
     cursor: pointer;
     top: 0;
     left: 0rem;
     right: 0rem;
     bottom: 0;
     background-color: #f4f4f5;
     transition: .4s;
     border-radius: 1.875rem;
    }
    
    .slider:before {
     position: absolute;
     content: "";
     height: 1.4em;
     width: 1.4em;
     border-radius: 1.25rem;
     left: 0.3em;
     bottom: 0.3em;
     background: linear-gradient(40deg,#68ebb3,#00dbc3 70%);
     ;
     transition: .4s;
    }
    
    input:checked + .slider {
     background-color: black;
    }
    
    input:checked + .slider:before {
     transform: translateX(1.5em);
     background: black;
     box-shadow: inset -0.1875rem -0.125rem 0.3125rem -0.125rem #8983f7, inset -0.625rem -0.3125rem 0 0 #00dbc3;
     -webkit-transform: translateX(1.5em);
     -moz-transform: translateX(1.5em);
     -ms-transform: translateX(1.5em);
     -o-transform: translateX(1.5em);
} 




summary {
    font-size: 1.25rem;
    font-weight: 600;
    background-image: linear-gradient(        to bottom right,         #68ebb3 0%, #4ce7b6 25%, #18e3ba 50%, #00dfbe 75%, #00dbc3 100%    );
    background-size: 200% 200%;
    animation: movingGradient 5s linear infinite alternate ;
    -webkit-animation: movingGradient 5s linear infinite alternate ;
    color: var(--tipewhite);
    padding: 1rem;
    margin-bottom: 1rem;
    outline: none;
    border-radius: 0.25rem;
    text-align: left;
    cursor: pointer;
    position: relative;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    width: 50%;
    left: 25%;
    top: 0px ; 


    
}
  details > summary::after {
    position: absolute;
    content: "+";
    right: 20px;
    

}
  details[open] > summary::after {
    position: absolute;
    content: "-";
    right: 20px;

}

details > summary::-webkit-details-marker {
     display: none;
}

details[open] summary ~ * {
    animation: sweep .2s ease-in-out;
    -webkit-animation: sweep .2s ease-in-out;
}
  @keyframes sweep {
    0%    {opacity: 0; margin-top: -10px}
    100%  {opacity: 1; margin-top: 0px}
}


p{
     font-size: 120%;
     
}

.faq__content{
    background: var(--backgroudwhite);
    box-shadow: 0 8px 32px 0 rgba(96, 104, 216, 0.123);
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    position: relative;
    width: 50%;
    top: -10px;
    align-items: center;
    left:25.4%;
    padding: 5px;
    text-align: center;
    color:var(--contrario)
}




*{
    font-family: 'Fjalla One', sans-serif;  
}

